.addProduto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    span{
        width: 100%;
        font-size: 30px;
        font-weight: 400 !important;
    }
    background-color: var(--white);
    height: 100%;
    border-radius: 3px;
    padding: 5px;
}