.box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.s{
    background-color: var(--green);
    color: var(--white);
    padding: 5px;
}
.d{
    background-color: var(--danger);
    color: var(--white);
    padding: 5px;
}