.container{
    height: 100%;
    width: 100%;
}
.grupo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    h3{
        width: 100%;
    }
}

.buttons{
    position: fixed;
    bottom: 0;
    margin-bottom: 50px;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    button{
        margin-right: 10px;
    }
}