.container{
    height: 100%;
    width: 100%;
    overflow: auto;
}
.grupo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    h3{
        width: 100%;
    }
    border-bottom: solid 1pt #f0f0f0;
    margin-bottom: 10px;
}

.buttons{
    margin-bottom: 50px;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    button{
        margin-right: 10px;
    }
}

.imgItem{
    width: 150px;
    height: 150px;
    
}