.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f9fafb;
    text-align: center;
    padding: 2rem;

    h1 {
        font-size: 2rem;
        font-weight: bold;
        color: #1f2937;
        margin-bottom: 0.5rem;
    }

    p {
        color: #6b7280;
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }
}

.content {
    background: #ffffff;
    padding: 2rem 3rem;
    border-radius: 1.5rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    max-width: 500px;
    width: 100%;
    animation: fadeIn 0.8s ease-in-out;
}

.icon {
    font-size: 4rem;
    margin-bottom: 1rem;
    animation: bounce 1.5s infinite;
}



.badge {
    display: inline-block;
    background: #f59e0b;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-weight: 500;
    box-shadow: 0 4px 10px rgba(245, 158, 11, 0.4);
}

/* Animações */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}