.card{
    margin: 10px 0px;
    background-color: white;
    padding: 30px;
    border-radius: 4px;

}
.w50{
    width: 50%;
}
.w30{
    width: 30%;
}
.middle{
    margin-left: auto;
    margin-right: auto;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.spaceBetween{
    justify-content: space-between;
}
.spaceAround{
    justify-content: space-around;
}
.cardInfo{
    color: var(--main);
    span{
        color: black;
        font-weight: 400;
        font-style: italic;
    }
}


.item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--white);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    justify-content: space-between;

    .qtd{
        width: 15%;
    }
    .nome{
        width: 25%;
    }
    .venda{
        width: 30%;
    }
    .custo{
        width: 30%;
    }
    .media{
        width: 20%;
    }

    .button{
        width: 40%;
    }
}
