.openClose{
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 20%;
    padding: 5px 0px 0px 0px;
    a{
        cursor: pointer;
        transition:  all 0.21s;

        &:hover{
            scale: 1.1;
        }
    }
}
.main{
    width: 100%;
    padding: 10px;
    overflow-y: auto;
}
.header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
    border-bottom: solid 1px var(--main);
    margin: 0px 10px 20px 10px;
}