.container {
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 10px;
}
.menu{
    display: flex;
    flex-direction: row;
}

.categoria {
    margin-top: 10px;
    width: 100%;
    padding: 5px;
    border: solid 1pt #d0cfcf;
    border-radius: 5px;
    transition: all 0.2s;

    &:hover {
        cursor: pointer;
        background-color: rgba(127, 244, 176, 0.3);
        border: solid 1pt  rgba(201, 255, 186, 0.3);
    }

    .status {
        display: flex;
        justify-content: flex-end;
    }

    .name{
        font-weight: 500;
        font-size: 15px;
    }

}

.categoriaSelecionada{
       background-color: rgba(127, 244, 176, 0.3);
        border: solid 1pt  rgba(201, 255, 186, 0.3);
}


.categoriaInfo,
.produtoInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;

    img {
        height: 50px;
        width: 50px;
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
            height: 52px;
            width: 52px;
        }
    }

    span {
        font-weight: 700;
        width: 80%;
        margin-left: 10px;
        color: #474747;
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
            font-weight: 800;
        }
    }

}

.produtos {
    padding: 10px 15px;
    width: 100%;
}

.produto {
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: solid 1pt #dedbdb;
    transition: background-color 0.2s;
    &:hover{
        background-color: rgba(127, 244, 176, 0.3);
        border: solid 1pt  rgba(201, 255, 186, 0.3);
    }
}

.informations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.information {
    display: flex;
    flex-direction: column;

    span {
        font-size: 13px;
    }

    label {
        font-weight: bold;
        font-size: 15px;
    }
}

.buttons {
    display: flex;
    gap: 10px;
}



.categorias {
    padding: 5px;
    width: 20%;
    max-width: 250px;
    height: 100%;
    border-right: solid 1pt #f0f0f0f0;
}
.items{
    width: 80%;
}