.container{
    padding: 5px;
}
.boxSearch{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
    width: 100%;
    justify-content: space-between;
    button{
        height: 35px;
    }
}
.box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
    width: 100%;
}
.box > div{
    width: 30%;
    min-width: 0px !important;
}
.box > div > div:first-child{
    font-size: 16px;
}


.item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--white);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    justify-content: space-between;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;

    .ativo,
    .inativo {
        width: 20%;
        text-align: center;
        align-items: center;
        border-radius: 5px;
        font-weight: bold;
        height: 25px;

    }


    .ativo {
        background-color: var(--green);
        color: var(--white);
    }

    .inativo {
        background-color: var(--main);
        color: var(--white);
    }


    .w10{
        width: 10%;
    }
    .w20{
        width: 20%;
    }
    .w30{
        width: 30%;
    }
    .w60{
        width: 60%;
    }
    .w80{
        width: 80%;
    }
    .w90{
        width: 90%;
    }
    .w100{
        width: 100%;
    }


}