.dark {
    background-color: var(--main);
    color: var(--white);
    border-color: var(--main);
    &:hover {
        background-color: var(--white);
        color: var(--main);
        border-color: var(--main);
    }
}

.outline-main {
    background-color: var(--white);
    color: var(--main);
    border-color: var(--main);
    &:hover {
        background-color: var(--main);
        color: var(--white);
        border-color: var(--main);
    }
}